@page
@model TEST_CRUD.Pages.FormList.IndexModel
@{
    ViewData["Title"] = "Index";
}

    <div class="container row">
        <div class="col-6">
            <h2 class="text-info"> Info List</h2>
        </div>
        <div class="col-6 text-right">
            <a asp-page="Create" class="btn btn-primary">Create New List</a>
        </div>
    </div>

    <br />
    <br />

    <div>
        <form method="post">
            <table class="table table-striped border">
                <tr class="table-secondary">
                    <th>
                        @Html.DisplayNameFor(m => m.InfoLists.FirstOrDefault().FirstName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m=>m.InfoLists.FirstOrDefault().LastName)
                    </th>
                    <th>
                        @Html.DisplayNameFor(m=>m.InfoLists.FirstOrDefault().Age)
                    </th>
                    <th>
                        Options
                    </th>
                </tr>

                @foreach (var item in Model.InfoLists)
                {
            <tr>
                <td>
                    @Html.DisplayFor(m => item.FirstName)
                </td>

                <td>
                    @Html.DisplayFor(m => item.LastName)
                </td>

                <td>
                    @Html.DisplayFor(m => item.Age)
                </td>

                <td>
                    <button asp-page-handler="Delete" asp-route-id="@item.Id"
                            onclick="return confirm('Are you sure want to delete this book?')"
                            class="btn btn-danger btn-sm">
                        Delete
                    </button>
                    <a asp-route-id="@item.Id" asp-page="Edit" class="btn btn-success btn-sm">Edit</a>
                </td>
            </tr>
                }
            </table>
        </form>
    </div>
